## **常用框架工具-Pandas作业3**

<font color=red>本课程未完全覆盖 Pandas 中的全部操作，欢迎你将更全面的 Pandas 学习笔记分享到[ AI Gallery Notebook](https://marketplace.huaweicloud.com/markets/aihub/notebook/list/) 版块获得[成长值](https://marketplace.huaweicloud.com/markets/aihub/article/detail/?content_id=9b8d7e7a-a150-449e-ac17-2dcf76d8b492)，分享方法请查看[此文档](https://marketplace.huaweicloud.com/markets/aihub/article/detail/?content_id=8afec58a-b797-4bf9-acca-76ed512a3acb)。</font>

### **题目描述**
### 读取一个表格数据，查看其中的数据信息。
    1. 查看前3行 head()；
    2. 查看后3行 tail()；
    3. 查看行索引 columns；
    4. 查看列索引 index；
    5. 查看数值型列的汇总统计 describe()。

#### 1. 准备数据

In [1]:
import moxing as mox

mox.file.copy("obs://modelarts-labs-bj4-v2/course/hwc_edu/python_module_framework/datasets/pandas_data/pandas_1.xlsx", "./pandas_1.xlsx")

INFO:root:Using MoXing-v1.17.3-
INFO:root:Using OBS-Python-SDK-3.20.7

#### 2. 读取excel文件

In [2]:
import numpy as np
import pandas as pd

df = pd.read_excel('./pandas_1.xlsx')

#### 3.  查看前3行

In [3]:
df.head(3)

           createTime education   salary
0 2020-03-16 11:30:18        本科  20k-35k
1 2020-03-16 10:58:48        本科  20k-40k
2 2020-03-16 10:46:39        不限  20k-35k

#### 4. 查看后3行

In [4]:
df.tail(3)

             createTime education   salary
132 2020-03-16 10:48:32        本科  20k-40k
133 2020-03-16 10:46:31        本科  15k-23k
134 2020-03-16 11:19:38        本科  20k-40k

#### 5. 查看行索引

In [5]:
df.index

RangeIndex(start=0, stop=135, step=1)

#### 6. 查看列索引

In [6]:
df.columns

Index(['createTime', 'education', 'salary'], dtype='object')

#### 7. 查看数值型列的汇总统计

In [8]:
df.describe()

                 createTime education   salary
count                   135       135      135
unique                  103         4       39
top     2020-03-16 11:01:22        本科  10k-20k
freq                      3       119       13
first   2020-03-13 18:01:31       NaN      NaN
last    2020-03-16 11:36:07       NaN      NaN