# **常用框架工具-Pandas作业**

<font color=red>本课程未完全覆盖 Pandas 中的全部操作，欢迎你将更全面的 Pandas 学习笔记分享到[ AI Gallery Notebook](https://marketplace.huaweicloud.com/markets/aihub/notebook/list/) 版块获得[成长值](https://marketplace.huaweicloud.com/markets/aihub/article/detail/?content_id=9b8d7e7a-a150-449e-ac17-2dcf76d8b492)，分享方法请查看[此文档](https://marketplace.huaweicloud.com/markets/aihub/article/detail/?content_id=8afec58a-b797-4bf9-acca-76ed512a3acb)。</font>

### **题目描述**

探索风速数据，对12个气象站的风速数据进行统计分析，根据以下各步骤要求描述，实现相应的数据分析。

数据说明：本作业使用数据为1961 - 1978年爱尔兰共和国境内的12个气象站的风速统计,单位为knots。

| 字段名称 | 解释说明                     |
| :------- | :--------------------------- |
| Yr_Mo_Dy | 年月日                       |
| RPT      | Roches Point(气象站所在城市) |
| VAL      | Valentina(气象站所在城市)    |
| ROS      | Rosslare(气象站所在城市)     |
| KIL      | Killkenny(气象站所在城市)    |
| ...      | ...                          |

### **代码实现**

### 1. 载入数据

In [1]:
import os
import moxing as mox

if not os.path.exists("./wind.data"):
    mox.file.copy("obs://modelarts-labs-bj4-v2/course/hwc_edu/python_module_framework/datasets/pandas_data/wind.data", "./wind.data")

INFO:root:Using MoXing-v1.17.3-
INFO:root:Using OBS-Python-SDK-3.20.7

### 2. 导入相关库

In [2]:
import pandas as pd
import datetime

### 3. 从以下地址导入数据

In [3]:
path = "./wind.data"

### 4. 功能实现
请在下面 cell 中编写代码，实现各步骤的要求。

#### 4.1. 读取数据并且组合前三列为一列，作为Yr_Mo_Dy日期列，设置为索引。
**注意**：年份调整为1961~1978之间

提示：
    
    pd.read_table()

In [4]:
df = pd.read_table(path,sep='\s+')
df.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [5]:
df['Yr_Mo_Dy'] = pd.to_datetime('19'+df['Yr'].astype(str)+'-'+df['Mo'].astype(str)+'-'+df['Dy'].astype(str))
del df['Yr']
del df['Mo']
del df['Dy']
df.set_index('Yr_Mo_Dy',inplace=True)
df.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

#### 4.2 对应每一个location，分别有多少数据值缺失

In [7]:
df.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

#### 4.3 创建一个名为loc_stats的数据框去计算并存储每个location的风速最小值，最大值，平均值和标准差

In [10]:
loc_stats = pd.DataFrame({'min':df.min(), 'max':df.max(), 'mean':df.mean(), 'std':df.std()})
print(loc_stats)

       max       mean   min       std
RPT  35.80  12.362987  0.67  5.618413
VAL  33.37  10.644314  0.21  5.267356
ROS  33.84  11.660526  1.50  5.008450
KIL  28.46   6.306468  0.00  3.605811
SHA  37.54  10.455834  0.13  4.936125
BIR  26.16   7.092254  0.00  3.968683
DUB  30.37   9.797343  0.00  4.977555
CLA  31.08   8.495053  0.00  4.499449
MUL  25.88   8.493590  0.00  4.166872
CLO  28.21   8.707332  0.04  4.503954
BEL  42.38  13.121007  0.13  5.835037
MAL  42.54  15.599079  0.67  6.699794