## **常用框架工具-Pandas作业2**

<font color=red>本课程未完全覆盖 Pandas 中的全部操作，欢迎你将更全面的 Pandas 学习笔记分享到[ AI Gallery Notebook](https://marketplace.huaweicloud.com/markets/aihub/notebook/list/) 版块获得[成长值](https://marketplace.huaweicloud.com/markets/aihub/article/detail/?content_id=9b8d7e7a-a150-449e-ac17-2dcf76d8b492)，分享方法请查看[此文档](https://marketplace.huaweicloud.com/markets/aihub/article/detail/?content_id=8afec58a-b797-4bf9-acca-76ed512a3acb)。</font>

### **题目描述**
### 读取一个xlsx格式表格数据，并对其重新保存为cvs格式文件。

#### 1. 准备数据

In [1]:
import os
import moxing as mox

if not os.path.exists("./pandas_1.xlsx"):
    mox.file.copy("obs://modelarts-labs-bj4-v2/course/hwc_edu/python_module_framework/datasets/pandas_data/pandas_1.xlsx", "./pandas_1.xlsx")

INFO:root:Using MoXing-v1.17.3-
INFO:root:Using OBS-Python-SDK-3.20.7

#### 2. 读取excel文件，显示前5行数据。

In [5]:
import numpy as np
import pandas as pd

df = pd.read_excel('./pandas_1.xlsx')
df.head()

           createTime education   salary
0 2020-03-16 11:30:18        本科  20k-35k
1 2020-03-16 10:58:48        本科  20k-40k
2 2020-03-16 10:46:39        不限  20k-35k
3 2020-03-16 10:45:44        本科  13k-20k
4 2020-03-16 10:20:41        本科  10k-20k

#### 3. dataframe保存为csv文件

In [6]:
df.to_csv('./pandas_1.csv')