## **常用框架工具-Pandas作业4**

<font color=red>本课程未完全覆盖 Pandas 中的全部操作，欢迎你将更全面的 Pandas 学习笔记分享到[ AI Gallery Notebook](https://marketplace.huaweicloud.com/markets/aihub/notebook/list/) 版块获得[成长值](https://marketplace.huaweicloud.com/markets/aihub/article/detail/?content_id=9b8d7e7a-a150-449e-ac17-2dcf76d8b492)，分享方法请查看[此文档](https://marketplace.huaweicloud.com/markets/aihub/article/detail/?content_id=8afec58a-b797-4bf9-acca-76ed512a3acb)。</font>

### **题目描述**
### 将一个字典数据转换为DataFrame，重新为其设置索引。
提示：set_index()

参考数据如下：

        data = {"col1":['Python', 'C', 'Java', 'R', 'SQL', 'PHP', 'Python', 'Java', 'C', 'Python'],

               "col2":[6, 2, 6, 4, 2, 5, 8, 10, 3, 4], 

               "col3":[4, 2, 6, 2, 1, 2, 2, 3, 3, 6]}
        
        可设置索引为1到10.

#### 1. 创建DataFrame

In [1]:
import pandas as pd

data = {"col1":['Python', 'C', 'Java', 'R', 'SQL', 'PHP', 'Python', 'Java', 'C', 'Python'],
       "col2":[6, 2, 6, 4, 2, 5, 8, 10, 3, 4], 
       "col3":[4, 2, 6, 2, 1, 2, 2, 3, 3, 6]}

df = pd.DataFrame(data)
df.head()

     col1  col2  col3
0  Python     6     4
1       C     2     2
2    Java     6     6
3       R     4     2
4     SQL     2     1

#### 2. 设置索引为1到10

In [3]:
import numpy as np

df = df.set_index(np.arange(1,11))
df

      col1  col2  col3
1   Python     6     4
2        C     2     2
3     Java     6     6
4        R     4     2
5      SQL     2     1
6      PHP     5     2
7   Python     8     2
8     Java    10     3
9        C     3     3
10  Python     4     6